@import url("https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,200..800;1,200..800&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .default-container {
    @apply px-[9.0278%];
  }

  .align-center {
    @apply flex items-center justify-center;
  }
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: "Karla", sans-serif;
}

.s-box-shadow {
  box-shadow: 0px 1px 3px 0px #00000040;
}
